@use "../../mixins";

.dialog, .bam-dialog {
	// container: dialog / inline-size;

	.dialog-content {
		overflow: scroll;
	}

	.dialog-buttons {
		height: 3em;
		flex: 0 0 fit-content;

		.dialog-button {
			height: 3em;
		}
	}
}

.dialog:not(.application) {
	max-height: var(--view-height) !important;
}
