@use "../../mixins";
// @use "basic-actions-macro";
@import "../../breakpoints";


.dialog, .bam-dialog {
	// container: dialog / inline-size;

	.dialog-content {
		overflow: scroll;
	}

	.dialog-buttons {
		height: 3em;
		flex: 0 0 fit-content;

		.dialog-button {
			height: 3em;
		}
	}

}


/* @include mixins.global-mobile {
	.dialog {
		top: unset !important;
		// Dorako UI fix
		max-height: var(--view-height);
	}
} */
