@use "../../mixins";

@mixin mobile {
	&.character {
		.crb-style {
			grid-template-columns: initial !important;
			grid-template-areas: "header " "nav    " "content" !important;

			aside {
				background-image: none !important;

				.logo {
					display: none;
				}
			}

			.pf-rank {
				width: 4em;
				text-overflow: ellipsis;
				overflow: hidden;
				display: inline-block;
			}

			@include mixins.sheet-nav-bar;

			.sheet-body .sheet-content .tab {
				&[data-tab="sidebar"] {
					--sidebar-label: var(--text-dark);
					--sidebar-title: var(--text-dark);

					.ac, .shield.hp {
						--sidebar-label: var(--tertiary-dark);

						.data-value {
							h2, input {
								color: var(--color-pf-tertiary) !important;
							}
						}
					}

					.data-value.data-value.data-value {
						color: var(--text-dark) !important;
					}

					.pf-rank {
						width: 6.5em;
						display: flex;
						overflow: unset;
					}

					header button {
						background: var(--sub);
						color: var(--text-light);
					}

					.roll-data a.modifier.hover {
						color: var(--color-pf-primary);
					}

					.d20-svg {
						filter: drop-shadow(0 0 1px var(--color-shadow-dark)) drop-shadow(0 0 3px var(--color-text-dark-4)) drop-shadow(0 0 12px var(--color-text-light-3));
					}

					a.roll-icon i, i.fa-regular, i.fa-solid {
						color: var(--text-dark) !important;
					}

					.container.current-hp {
						background-image: none;

						--sidebar-label: var(--tertiary-dark);

						input[type="number"] {
							color: var(--text-light);
						}
					}

					input[type="number"] {
						color: var(--text-dark);
					}

					.data-value h2 {
						color: var(--text-dark);
					}
				}

				&[data-tab="character"] {
					.character-details {
						.abcd {
							.detail.deity {
								grid-column: span 2;
							}
						}
					}

					.attributes .attribute .label {
						display: none;
					}
				}

				&[data-tab="actions"] {
					.button-group {
						flex-wrap: wrap !important;
					}

					button.tag.damage::after {
						content: '(' attr(data-tooltip) ')';
					}
				}

				&[data-tab="proficiencies"] {
					ul.proficiencies-list li .button-group button {
						width: 4em;
						text-overflow: ellipsis;
						overflow: hidden;
						display: inline-block;
					}
				}
			}

			header.char-header .char-level {
				flex-wrap: wrap !important;
				justify-content: center !important;

				.exp-data {
					padding: initial !important;
				}
			}
		}

		&:not([data-color-scheme="dark"]) .sheet-content .tab.sidebar {
			// background-color: var(--primary);
		}
	}
}

@mixin desktop {
	&.character {
		a#sidebar-tab {
			display: none;
		}
	}
}
