<form autocomplete="off" onsubmit="event.preventDefault()" style="width:400px">

    <p class="notes">
        {{localize "pf2e-mobile-sheet.mobile-share-targets.hint"}}
        <ul>
            <li class="notes"><b>{{localize "pf2e-mobile-sheet.mobile-share-targets.send.name"}}</b>: {{localize "pf2e-mobile-sheet.mobile-share-targets.send.hint"}}</li>
            <li class="notes"><b>{{localize "pf2e-mobile-sheet.mobile-share-targets.recieve.name"}}</b>: {{localize "pf2e-mobile-sheet.mobile-share-targets.recieve.hint"}}</li>
        </ul>
    </p>

    <hr>

    <h3><b>{{localize "LockView.EnMenu.UserSettings"}}</b></h3>

    <p class="notes">
        {{localize "LockView.EnMenu.UserSettings_Note"}}
    </p>

    <table>
        <thread>
            <tr>
				<th class="">{{localize "pf2e-mobile-sheet.mobile-share-targets.table.name"}}</th>
				<th class="">{{localize "pf2e-mobile-sheet.mobile-share-targets.table.role"}}</th>
				<th class="">{{localize "pf2e-mobile-sheet.mobile-share-targets.send.name"}}</th>
				<th class="">{{localize "pf2e-mobile-sheet.mobile-share-targets.recieve.name"}}</th>
            </tr>
        </thread>

        <tbody>
            {{#each data as |d|}}
                <tr index="{{d.index}}">
                    <td class="">{{d.name}}</td>
                    <td class="">{{d.role}}</td>
                    <td class=""><input type="checkbox" name="send-{{d.id}}" data-dtype="Boolean" {{#if d.enable}}checked{{/if}}></td>
                    <td class=""><input type="checkbox" name="recieve-{{d.id}}" data-dtype="Boolean" {{#if d.viewbox}}checked{{/if}}></td>
                </tr>
                <input type="text" name="id" value={{d.id}} style="display:none">
            {{/each}}
            <tr><td></td><td></td><td></td><td></td><td></td></tr>
        </tbody>
    </table>

    <br>

    <button type="submit" name="submit">
        <i class="fas fa-save"></i> Save
    </button>

</form>
