@use "character";
@use "../../mixins";
@use "../../breakpoints" as *;


.app.window-app.sheet {
	min-width: unset !important;

	&.actor {
		@include mixins.local-mobile($player-character-breakpoint, sheet) {
			@include character.mobile;

			.currency {
				h3 {
					font-size: 0;
					flex: 0 !important;
					margin-right: 8px;

					> * {
						font-size: 1.25rem;
					}
				}

				label {
					margin: unset !important;
				}

				.denomination {
					flex-wrap: nowrap !important;

					&.pp {
						font-size: 0;

						&::after {
							font-size: 12px;
							content: "PP" !important;
						}
					}

					&.gp {
						font-size: 0;

						&::after {
							font-size: 12px;
							content: "GP" !important;
						}
					}

					&.ep {
						font-size: 0;

						&::after {
							font-size: 12px;
							content: "EP" !important;
						}
					}

					&.sp {
						font-size: 0;

						&::after {
							font-size: 12px;
							content: "SP" !important;
						}
					}

					&.cp {
						font-size: 0;

						&::after {
							font-size: 12px;
							content: "CP" !important;
						}
					}
				}

				input {
					flex: 0;
					width: 4em;
				}
			}
		}
	}
}

