$familiar-breakpoint: 535px;
$party-breakpoint: 660px;
$player-character-breakpoint: 745px;
$loot-sheet-breakpoint: 445px;
$vehicle-sheet-breakpoint: 585px;
$hazard-sheet-breakpoint: 495px;
$compendium-browser-breakpoint: 652px;
$item-sheet-breakpoint: 500px;
$npc-sheet-breakpoint: 548px;
