@import "../breakpoints";

@mixin mobile {
	.window-header {
		//border: 1px solid hotpink !important;
	}

	> section.window-content > .content-box {
		> section.content > .tab.browser.active > div {
			display: flex;
			flex-direction: column;
		}

		.control-area {
			width: unset !important;
		}

		.list-buttons {
			justify-content: space-around !important;
			width: 95% !important;
		}

		.filter-conjunction {
			display: flex;
		}
	}
}

#compendium-browser {
	container: compendium-browser / inline-size;

	body:not([data-mobile-force-mobile=true],[data-mobile-force-mobile=false]) & {
		@container compendium-browser (width < #{$compendium-browser-breakpoint}) {
			@include mobile;
		}
	}

	body[data-mobile-force-mobile=true] & {
		@include mobile;
	}
}
