@use "../mixins";
@use "../breakpoints" as *;


.monks-enhanced-journal {
	container: mej-sheet / inline-size;

	.enhanced-journal .sheet {
		@include mixins.local-mobile($journal-breakpoint, sheet) {
			--sidebar-width-collapsed: 0;
			--sidebar-width-expanded: 100%;

			.journal-sidebar:not(.collapsed) {
				width: 100%;
			}
		}
	}

	@include mixins.local-mobile($mej-breakpoint, mej-sheet) {
		.enhanced-journal-header .tab-row {
			overflow: hidden;
		}

		.directory-sidebar {
			width: 100%;
		}
	}
}
