@import "../breakpoints";

@mixin mobile-sheet {
	--sidebar-width-collapsed: 0;
	--sidebar-width-expanded: 100%;
	.journal-sidebar:not(.collapsed) {
		width: 100%;
	}
}

@mixin mobile-base {
	.enhanced-journal-header .tab-row {
		overflow: hidden;
	}

	.directory-sidebar {
		width: 100%;
	}
}

.monks-enhanced-journal {
	container: mej-sheet / inline-size;

	.enhanced-journal .sheet {
		body:not([data-mobile-force-mobile-window=true],[data-mobile-force-mobile-window=false]) & {
			@container sheet (width < #{$journal-breakpoint}) {
				@include mobile-sheet;
			}
		}

		body[data-mobile-force-mobile-window=true] & {
			@include mobile-sheet;
		}
	}

	body:not([data-mobile-force-mobile-window=true],[data-mobile-force-mobile-window=false]) & {
		@container mej-sheet (width < #{$mej-breakpoint}) {
			@include mobile-base;
		}
	}

	body[data-mobile-force-mobile-window=true] & {
		@include mobile-base;
	}
}
