@use "../mixins";
@import "enhanced-journal";
@import "settings";
@import "mobile-navigation";
@import "mobile-menu";
@import "window-selector";
@import "sidebar";
@import "dialogs";

@include mixins.global-mobile {
	.app.minimized {
		opacity: 0;
		pointer-events: none;
	}
}
