@use "../mixins";

.mobile-navigation {
	@include mixins.hide-animation;

	align-items: stretch;
	background-color: var(--mobile-sheet-dark-background);
	box-shadow: 0 0 10px #000c;
	color: #f0f0e0;
	display: none !important; /* Spawns before CSS with inline style */
	font-size: 80%;
	font-weight: normal;
	list-style: none;
	margin: 0;
	overflow: auto hidden;
	padding: 0;
	position: absolute;
	top: var(--view-height);
	transition: transform ease-in 50ms;
	width: 100%;
	z-index: 1002;


	li {
		display: flex;
		flex: 1;
		flex-direction: column;
		height: var(--navigation-height);
		opacity: 0.6;
		padding: 0.5em 0;
		text-align: center;
		white-space: nowrap;

		i {
			font-size: 120%;
		}

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		&:hover,
		&:focus,
		&:active {
			background: rgb(0 0 0 / 10%);
			opacity: 0.8;
		}

		&.active {
			&, &:hover, &:focus, &:active {
				opacity: 1;
			}

			&:not(.toggle) {
				color: var(--color-text-hyperlink);

				i {
					transform: scale(1.1);
				}
			}
		}

		.count {
			align-items: center;
			background: #222;
			border-radius: 100%;
			display: inline-flex;
			justify-content: space-around;
			margin-left: -5px;
			padding: 0 4px;
		}
	}
}

@include mixins.global-mobile {
	.mobile-navigation {
		display: flex !important;
	}
}
