.mobile-menu {
	align-items: stretch;
	background-color: var(--mobile-sheet-dark-background);
	color: #f0f0e0;
	display: flex !important;
	list-style: none;
	margin: 0;
	overflow: auto hidden;
	padding: 0;

	.menu-list {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 10px;
		width: 100%;

		& > li {
			cursor: pointer;
			padding: 5px 10px;

			i.fas {
				display: inline-flex;
				justify-content: center;
				margin-right: 5px;
				width: 20px;
			}
		}
	}
}
