@use "../mixins";
@import "../breakpoints";


#client-settings {
	container: settings / inline-size;

	.form-fields {
		select {
			width: 100%;
		}
	}

	@include mixins.local-mobile($settings-breakpoint, settings) {
		&.package-configuration {
			div:not(#mps-view-group).flexcol {
			}

			.window-content {
				overflow: hidden;
			}

			.sidebar {
				height: unset;
				padding-left: 3rem;
				padding-right: 3rem;
			}

			footer {
				bottom: 0;
				flex-grow: 0;
				max-width: inherit;
				position: sticky;
				width: inherit;
			}

			.scrollable {
				overflow: hidden auto;
			}

			form {
				padding-left: 1em;
				padding-right: 1em;
			}

			footer button {
				flex-basis: max-content;
				height: 2rem;
			}
		}
	}
}
