@use "../mixins";
@use "../breakpoints" as *;

#compendium-browser {
	container: compendium-browser / inline-size;

	@include mixins.local-mobile($compendium-browser-breakpoint, compendium-browser) {
		.window-header {
			// border: 1px solid hotpink !important;
		}

		> section.window-content > .content-box {
			> section.content > .tab.browser.active > div {
				display: flex;
				flex-direction: column;
			}

			.control-area {
				width: unset !important;
			}

			.list-buttons {
				justify-content: space-around !important;
				width: 95% !important;
			}

			.filter-conjunction {
				display: flex;
			}
		}
	}
}
