$familiar-breakpoint: 535px;
$party-breakpoint: 660px;
$player-character-breakpoint: 745px;
$loot-sheet-breakpoint: 445px;
$vehicle-sheet-breakpoint: 585px;
$hazard-sheet-breakpoint: 495px;
$global-breakpoint: 930px;
$npc-sheet-breakpoint: 548px;
$mej-breakpoint: 700px;
$journal-breakpoint: 600px;
$settings-breakpoint: 477px;
$compendium-browser-breakpoint: 652px;
$item-sheet-breakpoint: 500px;
