@use "mixins";

@keyframes bloopborder {
	0% {
		border-color: var(--mobile-sheet-bloop-color-0);
	}

	80% {
		border-color: var(--mobile-sheet-bloop-color-1);
	}

	100% {
		border-color: var(--mobile-sheet-bloop-color-2);
	}
}

@include mixins.global-mobile {
	.chat-message.bloop {
		animation-name: bloopborder;
		animation-duration: 4s;
		animation-timing-function: ease-out;
	}

	#chat-message {
		flex-basis: auto;
	}

}
