/* ------------------------------------ */
/*                 CSS                  */
/*         Add your styles here         */
/* ------------------------------------ */

* {
	--send-button-gap: 0.5em;
}

.mobile-pf2e #ui-left,
.mobile-pf2e #ui-middle {
	display: none;
}

.mobile-pf2e #ui-right,
.mobile-pf2e #ui-right #sidebar {
	width: 100%;
	margin: 0;
}

.mobile-pf2e #chat-form textarea {
	width: calc(100% - calc(4em + var(--send-button-gap)));
}

.mobile-pf2e .send-button {
	right: 0;
	width: 2em;
	transition:
		text-shadow 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		border 0.15s ease-in-out,
		color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out,
		backdrop-filter 0.15s ease-in-out,
		border-radius 0.15s;
	text-shadow: 0 0 0.2em black;
	box-shadow: var(--glassy);
	color: var(--color-text-light-heading);
	font-size: 2em;
	background-color: var(--glass-bg-light);
}

.mobile-pf2e .dorako-ui .send-button {
	border: unset;
	border-radius: var(--border-radius);
}

.mobile-pf2e.chatcommander-active .send-button {
	position: absolute;
	top: 0;
	height: 100%;
}

.mobile-pf2e:not(.chatcommander-active) .send-button {
	top: -2em;
	height: unset;
	flex-basis: auto;
}

.mobile-pf2e #chat-message {
	flex-basis: auto;
}

.mobile-pf2e #mobile-chat-row {
	flex-wrap: nowrap;
	gap: var(--send-button-gap);
}

.mobile-pf2e .actor.sheet .crb-style {
	grid-template-columns: initial !important;
	grid-template-areas: "header " "nav    " "content" !important;
}

.mobile-pf2e #sidebar-tabs {
	font-size: 2em;
}

.mobile-pf2e .actor.sheet.character .crb-style header.char-header .char-level .exp-data {
	padding: initial !important;
}

.mobile-pf2e .actor.sheet.character .crb-style header.char-header .char-level {
	flex-wrap: wrap !important;
	justify-content: center !important;
}

.mobile-pf2e .navigation-title,
.mobile-pf2e .manage-tabs,
.mobile-pf2e .attribute .details-label,
.mobile-pf2e .pc_deity img.symbol {
	display: none !important;
}

.mobile-pf2e .tab:not(.inventory, .actions) {
	margin-left: 0 !important;
}

.mobile-pf2e .app.sheet.actor.character {
	width: 100%;
	height: 100%;
}

.mobile-pf2e .skills-list {
	column-gap: 0.3em !important;
	row-gap: 1em;
}

.mobile-pf2e .app.sheet.actor.character .window-resizable-handle,
.mobile-pf2e .popout-module-button,
.mobile-pf2e .pathmuncher-open,
.mobile-pf2e .configure-token,
.mobile-pf2e .configure-creature,
.mobile-pf2e .send-to-taskbar,
.mobile-pf2e .configure-theatre,
.mobile-pf2e .console-print,
.mobile-pf2e .document-id-link,
.mobile-pf2e .document-image-link,
.mobile-pf2e .simple-calendar,
.mobile-pf2e #tokenbar {
	display: none !important;
}

.mobile-pf2e .actor.sheet.character .crb-style .tab.character .character-details .pc_deity h3 {
	margin-left: 0.5em !important;
}

.mobile-pf2e .actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .character-details {
	grid-template-columns: 9em 10em 1fr !important;
}

.mobile-pf2e .actor.sheet.character:not(.dark-theme) .sheet-content .tab.sidebar {
	background-color: var(--primary);
}

.mobile-pf2e.pf2e-ui #sidebar-tabs > .item {
	height: 2em !important;
	flex-basis: 2em !important;
}

.mobile-pf2e .window-app.fullscreen-window {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.mobile-pf2e .window-app.fullscreen-window .window-resizable-handle {
	/*display: none;*/
}

.mobile-pf2e #sidebar.collapsed #sidebar-tabs .item {
	display: none;
}

.mobile-pf2e #sidebar:not(.collapsed) .fa-bars {
	transform: rotate(-90deg);
}

.mobile-pf2e #sidebar > .dorako-resize {
	display: none;
}

.mobile-pf2e .sheet.familiar .familiar-sheet-header .header-content .details-section,
.mobile-pf2e .sheet.familiar .familiar-section .familiar-content {
	flex-direction: column;
}

.mobile-pf2e .sheet.familiar .familiar-sheet-header .header-content .charname {
	flex-wrap: wrap;
}

.mobile-pf2e .sheet.familiar .familiar-sheet-header .header-content .charname .charname-value {
	flex-basis: auto;
}

.mobile-pf2e .sheet.familiar .familiar-sheet-header .header-content .sub-header {
	flex-direction: column;
}

.mobile-pf2e .sheet.familiar .familiar-sheet-header .header-content .details-section .defenses-section {
	flex-direction: initial;
}

.mobile-pf2e .sheet.journal-entry,
.mobile-pf2e .pf2e.actor {
	min-width: unset;
	min-height: unset;
}

.mobile-pf2e .npc .npc-sheet .top-sections {
	flex-direction: column;
}

.mobile-pf2e .mseCharacterName {
	flex-basis: 100%;
}

.mobile-pf2e .npc .npc-sheet .npc-sheet-header .name {
	flex-wrap: wrap;
}

.mobile-pf2e .sheet.pf2e.actor.npc.dark-theme form .sheet-tabs {
	flex-wrap: wrap;
	height: auto;
}

.mobile-pf2e #compendium-browser > section.window-content > .content-box > section.content > .tab.browser.active > div {
	grid-template-columns: auto auto;
}

.mobile-pf2e #compendium-browser > section.window-content > .content-box .control-area {
	min-width: unset;
	width: unset;
}

.mobile-pf2e #compendium-browser > section.window-content > .content-box .filtercontainer div.title,
.mobile-pf2e #compendium-browser > section.window-content > .content-box .sortcontainer div.title {
	height: unset;
	flex-direction: column;
}

.mobile-pf2e #compendium-browser > section.window-content > .content-box .list-buttons {
	display: none;
}
