@use "mixins";
@import "breakpoints";
@import "apps";
@import "drawer";
@import "send-button";
@import "hotbar";
@import "taskbar";

:root {

	//--familiar-breakpoint: $familiar-breakpoint;
	//--party-breakpoint: $party-breakpoint;
	//--player-character-breakpoint: $player-character-breakpoint;
	//--loot-sheet-breakpoint: $loot-sheet-breakpoint;
	//--vehicle-sheet-breakpoint: $vehicle-sheet-breakpoint;
	//--hazard-sheet-breakpoint: $hazard-sheet-breakpoint;
	//--global-breakpoint: $global-breakpoint;
	//--npc-sheet-breakpoint: $npc-sheet-breakpoint;
	//--mej-breakpoint: $mej-breakpoint;
	//--journal-breakpoint: $journal-breakpoint;
	//--settings-breakpoint: $settings-breakpoint;
	//--compendium-browser-breakpoint: $compendium-browser-breakpoint;
	//--item-sheet-breakpoint: $item-sheet-breakpoint;
	--navigationHeight: 2rem;
	--vh: 1vh;
	--viewHeight: calc(calc(var(--vh) * 100) - var(--navigationHeight));
	--send-button-gap: 0.5em;
	--mobile-sheet-dark-background: #333;
	--mobile-sheet-dark-background-transparent: #333333ee;

}

[data-mobile-force-hide-header-button-text=true] {
	a:is(.pf2e-item-revitalizer-initiate-single-actor, .pathmuncher-open, .header-button.control) {
		font-size: 0;

		> i {
			font-size: var(--font-size-14);
		}
	}
}


@include mixins.hide-hud {
	#ui-center, #ui-left, #ui-middle, #fps {
		display: none !important;
	}
	#logo {
		display: none !important;
		transform: scale(0.5) translateX(-50%) translateY(-50%);
	}
}

#logo {
	@include mixins.hide-animation;
}

#mobile-chat-row {
	height: 100%;
}

#combat .combatant .distance {
	padding: 0 0.3em;
}

@include mixins.global-mobile {

	:root {
		--carousel-alignment: right;
	}

	#ui-top {
		left: 50%;
		margin: 0 auto;
		position: fixed;
		top: 0;
		transform: translateX(-50%);
		width: 100%;
	}

	#ui-bottom {
		bottom: 0;
		left: 50%;
		margin: 0 auto;
		position: fixed;
		transform: translateX(-50%);
		width: 100%;

		&.centered {
			display: block;
		}
	}
	.app {
		margin: 0;

		&.window-app:not(.minimized,.dialog) {
			height: calc(100% - var(--navigationHeight)) !important;
			left: 0 !important;
			top: 0 !important;
			width: 100% !important;
		}
	}
	.sheet.actor.character .popout-module-button, .pathmuncher-open, .configure-token, .configure-creature, .configure-theatre, .console-print, .document-id-link, .document-image-link, .simple-calendar, #tokenbar, .header-button.control.pf2e-action-support-engine {
		display: none !important;
	}

	.window-resizable-handle {
		display: none !important;
	}

	#hurry-up {
		display: none;
	}
	#token-action-hud {
		display: none;
	}
}

@include mixins.tab("app") {
	#ui-left, #ui-middle, #ui-bottom {
		display: none;
	}

	#token-action-hud {
		display: none;
	}

	#ui-right {
		margin: 0 0 var(--navigationHeight);
		padding: 0;
		width: 100%;
	}
	#chat-message {
		flex-basis: auto;
	}

	.mseCharacterName {
		flex-basis: 100%;
	}
}

@include mixins.tab("map") {
	#logo {
		display: none !important;
		opacity: 0;
	}
	#ui-right, #fps {
		display: none !important;
	}
	nav#controls {
		padding-top: 80px;

		#party-monitor-dock {
			display: none;
		}
	}
	&:not([data-mobile-hide-player-list=true]) #players {
		margin: 0 0.5em 3em 1em;
		opacity: 1 !important;
	}

	#players h3 {
		margin: 0;
	}

	&[data-mobile-hide-player-list=true] #players {
		display: none;
		transform: translateX(-110%);
	}
}


#navigation .monks-scene-navigation {
	.scene-list {
		flex-wrap: wrap;

		> li {
			min-width: 100px;
		}
	}
}

