@use "mixins";
@import "breakpoints";
@import "apps";

:root {
	--send-button-gap: 0.5em;
	//--familiar-breakpoint: $familiar-breakpoint;
	//--party-breakpoint: $party-breakpoint;
	//--player-character-breakpoint: $player-character-breakpoint;
	//--loot-sheet-breakpoint: $loot-sheet-breakpoint;
	//--vehicle-sheet-breakpoint: $vehicle-sheet-breakpoint;
	//--hazard-sheet-breakpoint: $hazard-sheet-breakpoint;
	//--global-breakpoint: $global-breakpoint;
	//--npc-sheet-breakpoint: $npc-sheet-breakpoint;
	//--mej-breakpoint: $mej-breakpoint;
	//--journal-breakpoint: $journal-breakpoint;
	//--settings-breakpoint: $settings-breakpoint;
	//--compendium-browser-breakpoint: $compendium-browser-breakpoint;
	//--item-sheet-breakpoint: $item-sheet-breakpoint;
}

[data-mobile-force-hide-header-button-text=true] {
	a:is(.pf2e-item-revitalizer-initiate-single-actor, .pathmuncher-open, .header-button.control) {
		font-size: 0;

		> i {
			font-size: var(--font-size-14);
		}
	}
}


@mixin desktop {
	#sidebar {
		.collapse-mobile {
			display: none;
		}

		.send-button {
			display: none;
		}
	}
}

@mixin mobile {
	.app {
		margin: 0;

		&.window-app:not(.minimized,.dialog) {
			height: 100% !important;
			left: 0 !important;
			top: 0 !important;
			width: 100% !important;
		}
	}

	#ui-left, #ui-middle, #ui-bottom {
		display: none;
	}

	#chat-form textarea {
		width: calc(100% - calc(4em + var(--send-button-gap)));
	}

	.send-button {
		right: 0;
		width: 2em;
		transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
		text-shadow: 0 0 0.2em black;
		box-shadow: var(--glassy);
		color: var(--color-text-light-heading);
		font-size: 2em;
		background-color: var(--glass-bg-light);

		.chatcommander-active & {
			height: 100%;
			position: absolute;
			top: 0;
		}

		body:not(.chatcommander-active) & {
			flex-basis: auto;
			height: unset;
			top: -2em;
		}
	}


	//.dorako-ui .send-button {
	//	border: unset;
	//	border-radius: var(--border-radius);
	//}


	#chat-message {
		flex-basis: auto;
	}

	#mobile-chat-row {
		flex-wrap: nowrap;
		gap: var(--send-button-gap);
	}


	.sheet.actor.character .popout-module-button, .pathmuncher-open, .configure-token, .configure-creature, .configure-theatre, .console-print, .document-id-link, .document-image-link, .simple-calendar, #tokenbar, .header-button.control.pf2e-action-support-engine {
		display: none !important;
	}

	.window-resizable-handle {
		display: none !important;
	}

	div.taskbar#taskbar {
		//display: none;
		width: 100% !important;

		.taskbar-tray {
			flex-wrap: wrap;
		}

		#taskbarQuickInsert h3 {
			padding: 0;
		}

		.taskbar-items {
			overflow: scroll hidden;
		}

		.taskbar-hidden-mobile {
			display: none;
		}
	}
	.start-menu {
		width: 100%;
		min-width: unset;
	}
	.start-menu-apps {
		min-width: unset;
	}
	.start-menu-options.expanded {
		width: 100%;
		max-width: 70%;
	}


	.window-app.fullscreen-window {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		.window-resizable-handle {
			/*display: none;*/
		}
	}

	#ui-right {
		margin: 0;
		padding: 0;
		width: 100%;

		#sidebar {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.8);

			&.collapsed {
				height: unset;

				#sidebar-tabs .item {
					display: none;
				}
			}

			&:not(.collapsed) {
				.fa-bars {
					transform: rotate(-90deg);
				}
			}

			#sidebar-tabs {
				font-size: 2em;

				.pf2e-ui & > .item {
					flex-basis: 2em !important;
					height: 2em !important;
				}
			}

			.collapse:not(#collapse-mobile) {
				display: none;
			}

			> .dorako-resize {
				display: none;
			}
		}
	}

	#hurry-up {
		display: none;
	}

	.mseCharacterName {
		flex-basis: 100%;
	}
}

#mobile-chat-row {
	height: 100%;
}

#combat .combatant .distance {
	padding: 0 0.3em;
}


@media screen and (min-width: #{$global-breakpoint}) {
	@at-root body:not([data-mobile-force-mobile=true],[data-mobile-force-mobile=false]) {
		@include desktop;
	}
}

@at-root body[data-mobile-force-mobile=true] {
	@include mobile;
}

@at-root body[data-mobile-force-mobile=false] {
	@include desktop;
}

@media screen and (max-width: #{$global-breakpoint}) {
	@at-root body:not([data-mobile-force-mobile=true],[data-mobile-force-mobile=false]) {
		@include mobile;
	}
}
