@use "mixins";
@use "sass:selector";
@forward "vars";
@import "apps";
@import "drawer";
@import "send-button";
@import "hotbar";
@import "taskbar";
@import "mobile-toggle";
@import "mobile-messages";
@import "systems";

[data-mobile-force-hide-header-button-text="true"] {
	a:is(.pf2e-item-revitalizer-initiate-single-actor, .pathmuncher-open, .header-button.control) {
		font-size: 0;

		> i {
			font-size: var(--font-size-14);
		}
	}
}

@include mixins.hide-hud {
	#ui-center, #ui-left, #ui-middle, #fps {
		display: none !important;
	}

	#logo {
		display: none !important;
		transform: scale(0.5) translateX(-50%) translateY(-50%);
	}
}

#logo {
	@include mixins.hide-animation;
}

#mobile-chat-row {
	height: 100%;
}

#combat .combatant .distance {
	padding: 0 0.3em;
}

@include mixins.global-mobile {
	:root {
		--carousel-alignment: right;
	}

	#ui-top {
		left: 50%;
		margin: 0 auto;
		position: fixed;
		top: 0;
		transform: translateX(-50%);
		width: 100%;
	}

	#ui-bottom {
		bottom: 0;
		left: 50%;
		margin: 0 auto;
		position: fixed;
		transform: translateX(-50%);
		width: 100%;

		&.centered {
			display: block;
		}
	}

	#ui-right {
		margin: 0 0 var(--navigation-height);
		padding: 0;
		width: 100%;
	}

	.app {
		margin: 0;

		&.window-app {
			&:not(.minimized,.dialog,.simple-calendar, .sidebar-popout) {
				height: var(--view-height) !important;
				left: 0 !important;
				top: 0 !important;
				width: 100% !important;
			}

			&.sidebar-popout {
				height: unset !important;
				left: 0 !important;
				top: 0 !important;
				width: 100% !important;
			}
		}
	}

	.sheet.actor.character .popout-module-button, .pathmuncher-open, .configure-token, .configure-creature, .configure-theatre, .console-print, .document-id-link, .document-image-link, #tokenbar, .header-button.control.pf2e-action-support-engine {
		display: none !important;
	}

	.window-resizable-handle {
		display: none !important;
	}

	#hurry-up {
		display: none;
	}

	#token-action-hud {
		display: none;
	}

	&:not([data-mobile-hide-player-list="true"]) #players {
		margin: 0 0.5em 3em 1em;
		opacity: 1 !important;
	}

	#players h3 {
		margin: 0;
	}

	nav#controls {
		padding-top: 80px;
	}
}

@include mixins.tab("app") {
	#ui-left, #ui-middle, #ui-bottom {
		display: none;
	}

	#token-action-hud {
		display: none;
	}

	.mseCharacterName {
		flex-basis: 100%;
	}

	@include mixins.global-tablet {
		#ui-left, #ui-middle {
			display: flex !important;
		}

		#ui-bottom {
			display: unset !important;
		}
	}

}

@include mixins.tab("map") {
	#logo {
		display: none !important;
		opacity: 0;
	}

	#fps {
		display: none !important;
	}

	#ui-right {
		display: none;
	}

	nav#controls {
		#party-monitor-dock {
			display: none;
		}
	}

	&[data-mobile-hide-player-list="true"] #players {
		display: none;
		transform: translateX(-110%);
	}
}

@include mixins.global-tablet {
	#ui-right {
		width: unset;
		display: block !important;
	}

	div.app.window-app.app.window-app {
		width: calc(100% - var(--sidebar-width)) !important;
		box-shadow: none;
	}
}


/* #navigation .monks-scene-navigation {
	.scene-list {
		flex-wrap: wrap;

		> li {
			min-width: 100px;
		}
	}
} */


@include mixins.body-data-tag("[data-mobile-disable-canvas=true]") {
	canvas#board {
		display: none !important;
	}
}
