<nav class="mobile-menu drawer drawer-menu">
	<ul class="menu-list">
		<li class="menu-canvas">
			<i class="fas fa-map"></i>
			{{localize "pf2e-mobile-sheet.MenuCanvas"}}
		</li>
		<li class="menu-players">
			<i class="fas fa-users"></i>
			{{localize "pf2e-mobile-sheet.MenuPlayerList"}}
		</li>
		<li class="menu-fullscreen">
			<i class="fas fa-expand"></i>
			{{localize "pf2e-mobile-sheet.MenuFullscreen"}}
		</li>
	</ul>
</nav>
