{{#*inline "menuElement"}}
	<li class="menu-{{name}}">
		<i class="fas {{icon}}"></i>
		{{localize (concat "pf2e-mobile-sheet.Menu" (capitalize name))}}
	</li>
{{/inline}}
<nav class="mobile-menu drawer drawer-menu">
	<ul class="menu-list">
		{{#each this}}
			{{> menuElement this }}
		{{/each}}
	</ul>
</nav>
