<nav class="window-selector drawer drawer-windows">
	<nav>
		<ul class="window-list">
			{{#each windows}}
				<li class="window-row" data-id="{{@key}}">
					<button class="window-select" title="{{this.title}}"><i
						class="fas {{winicon this.app}}"></i> {{this.title}}
					</button>
					<button class="window-close" title="close"><i class="fas fa-times"></i></button>
				</li>
			{{/each}}
		</ul>
	</nav>
</nav>
